.main {
  position: relative;
  height: 1080px;
}

.header {
  width: 923px;
  height: 84px;
  background-color: #7025fb;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.header .logo {
  position: absolute;
  left: 6.5%;
  right: 63.62%;
  top: 35.71%;
  bottom: 36.49%;
  z-index: 2;
}

.landing {
  position: absolute;
  width: 923px;
  height: inherit;
  left: 0px;
  top: 0px;

  background: url("../assets/landing.png");
}

.mainregistration {
  height: 1080px;
  width: 923px;
  position: fixed;
  top: 0;
  left: 0;
}

.mainform {
  background: url("../assets/mainform.png");
  background-position: center;
  object-fit: contain;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 84px;
  width: 100%;
  height: 996px;
}

/* .texts {
  position: fixed;
  width: 423px;
  height: 83px;
  left: 132px;
  top: 295px;

  font-family: "Nunito";
  font-style: italic;
  font-weight: 800;
  font-size: 26px;
  line-height: 35px;
  text-transform: uppercase;

  color: #212529;
} */

.quote {
  position: fixed;
  width: 423px;
  height: 83px;
  left: 132px;
  top: 290px;
  font-family: "Nunito";
  font-style: italic;
  font-weight: 800;
  font-size: 26px;
  line-height: 45px;
  text-transform: uppercase;
  color: #212529;
  gap: 40px;
}

.quote-author {
  position: fixed;
  width: 222px;
  height: 33px;
  left: 132px;
  top: 402px;
  font-family: "Nunito";
  font-style: italic;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  text-transform: uppercase;
  color: #e5e6e8;
}
