.btn-next {
  background-color: #212529;
  color: white;
  position: fixed;
  align-items: center;
  display: flex;
  width: 128px;
  height: 53px;
  justify-content: space-between;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  border-radius: 8px;
  padding: 13px 24px;
  gap: 10px;
  left: 1618px;
  top: 873px;
}
.done {
  background-color: #212529;
  color: white;
  position: fixed;
  align-items: center;
  text-align: center;
  width: 100px;
  height: 53px;
  line-height: 27px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  border-radius: 8px;
  padding: 10px 24px;

  right: 150px;
  top: 873px;
}

.done:hover {
  cursor: pointer;
  outline: 4px solid #c2a5f9cc;
}

.btn-back {
  background-color: #fff;
  align-items: center;
  padding: 13px 24px;
  gap: 10px;
  position: fixed;
  width: 93px;
  height: 53px;
  left: 971px;
  top: 873px;
  border: 1px solid #212529;
  border-radius: 8px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-transform: capitalize;

  color: #212529;
}

.btn-back,
.btn-next:hover {
  cursor: pointer;
}

.btn-back:hover {
  background: rgba(185, 180, 196, 0.3);
  border: 1px solid rgba(194, 165, 249, 0.8);
  border-radius: 8px;
}

.btn-next:hover {
  outline: 4px solid #c2a5f9cc;
}

.btn-next:active {
  background-color: #212529;
}
