.personal-chess h1 {
  position: fixed;
  width: 269px;
  height: 48px;
  left: 971px;
  top: 324px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 150%;
  /* identical to box height, or 48px */

  color: #000000;
}
.personal-chess > p {
  position: fixed;
  width: 205px;
  height: 21px;
  right: 745px;
  top: 375px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  /* identical to box height, or 21px */

  text-transform: capitalize;

  color: #95939a;
}

.chess-title {
  position: absolute;
  width: 383px;
  height: 24px;
  left: 971px;
  top: 30px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */

  text-transform: capitalize;

  color: #212529;
}

.valid {
  position: absolute;
  right: 10px;
  top: 12px;
}
