.chess-info {
  position: relative;

  left: 961px;
  top: 491px;
}

.dropdown {
  position: relative;
  width: 392px;
  height: 46px;
  left: 0px;
  top: 0px;
  user-select: none;
  /* Gray/White */

  background: #ffffff;
  /* Border & Divider/divider ↓ */

  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.125);
  border-radius: 4px;
  z-index: 2;
}
.dropdown-btn {
  display: flex;
  justify-content: space-between;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  padding: 10px;
}
.dropdown-btn img {
  width: 13px;
  height: 7px;
  align-self: center;
}

.dropdown-btn:hover {
  cursor: pointer;
}

.dropdown span {
  color: red;
}

.dropdown-content {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  /* identical to box height, or 30px */
  background: #ffffff;
  color: #000000;
  position: absolute;
  width: 392px;
  height: 199px;
  left: 0px;
  top: 0px;
  border: 1px solid rgba(185, 180, 196, 0.3);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-top: 50px;
  height: 210px;
}

.dropdown-item {
  padding: 20px 8px;
  cursor: pointer;
}
.dropdown-item:hover {
  background-color: #f7f7f9;
  font-weight: 600;
}

.chess-player {
  position: relative;

  left: 1381px;
  top: 445px;
}
.grandmaster {
  position: relative;
  width: 392px;
  height: 46px;
  left: 0px;
  top: 0px;
  user-select: none;
  /* Gray/White */

  background: #ffffff;
  /* Border & Divider/divider ↓ */

  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.125);
  border-radius: 4px;
  z-index: 1;
}

.grandmaster span {
  color: red;
}

.player-content {
  width: 391px;
  height: 419px;
  background: #ffffff;
  border: 1px solid rgba(185, 180, 196, 0.3);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.player-item {
  width: 344px;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 5px 10px; */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #212529;
  margin: 25px;
  cursor: pointer;
}

.player-item:hover {
  background-color: #f7f7f9;
}

.player-image {
  width: 100px;
  height: 72px;
  object-fit: cover;
  /* margin: 10px; */
  border-radius: 4px;
}

.participation {
  position: absolute;
  width: 775px;
  height: 46px;
  left: 960px;
  top: 617px;

  /* Gray/White */

  background: #ffffff;
  border-radius: 4px;
}
.radio {
  display: flex;
  justify-content: space-around;
  width: 58px;
  height: 24px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
.answers {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 150px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}
.participation > h1 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  width: 743px;
  height: 30px;
  padding: 8px 16px;
}
.participation span {
  color: red;
}
